@charset "UTF-8";
/* CSS Document */
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

.background {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-color: #FFFFFF;
    background-image: url(../images/1567666.png);
}

.container-fluid {
    border: thick solid #000000;
	background: #000000;
	color: #FFFFFF;
    text-align: center;
	font-size: 60px
}

.jumbotron {
    background-color: #000000;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.btn.btn-primary.btn-lg {
    background-color: #5A81A7;
    border: thin solid #000000;
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 100px) { 
.container {
	background-color: #5A81A7;
    border: thick solid #FFFFFF;
	margin-top: 30px;
	padding: 5px;
	text-align: center;
}
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 600px) { 
.carousel {
	margin-top: 30px;
	margin-bottom: 30px;
	}
}
	
.card {
    background-color: #000000;
    color: #FFFFFF;
}
.btn.btn-primary {
	background-color: #5A81A7;
	border: thin solid #000000;
}
	
.Red {
	color: red;
	}

.col-sm {
	border: thick dotted #000000
}

.col {
	border: thick dotted #000000;
	padding: 40px;
}
	
